<!DOCTYPE html>
<html>
<head>
	<title>{{ page_title }}</title>
	<style type="text/css">
		.standard-links {
			padding-right: 120px
			color: blue;
		display: inline-block;
		}

		#blog-body {
		    border: 0;
		    outline: 0;
		    background: transparent;
		    border-bottom: 2px solid black;
		    width: 20px;
}
		.error {
			color: red;
		}
	</style>
</head>
<body>
	<span><a class="standard-links" href="/">home</a></span>
	<p class="standard-links"> | </p>
	<span><a class="standard-links" href="/blog">all posts</a></span>
	<p class="standard-links"> | </p>
	<span><a class="standard-links" href="/newpost">new post</a></span>
	<p class="standard-links"> | </p>
	
	<span><a class="standard-links" href="/login">login</a></span>
	<p class="standard-links"> | </p>
	<span><a class="standard-links" href="/logout">logout</a></span>

	{% if 'email' in session %}
		<span><p align="right">Hello, {{user.username}}</p></span>
	{% endif %}

	{% block content %}

	{% endblock %}
</body>	
</html>