{% extends "base.html" %}
{% block content %}

<h1 style="text-align:center">Add a Blog Entry</h1>

<form action="/blog" method="post">

	<label>
		Title:
		<input type="text" name="title" value="{{title}}" />
	</label>
	<br />
	<br />

	<label>
		Input Blog Post:
		<br />
		<input type="text" name="body" value="{{body}}" />
	</label>
	<br />
	<br />

	<input type="submit" name="Add Blog!" />
	{% with messages = get_flashed_messages() %}

		{% for message in messages %}
			<p class="error">{{ message }}</p>
		{% endfor %}

	{% endwith %}

</form>

{% endblock %}